.venv/
__pycache__
*.pyc
*.pyo
*.pyd
.Python
env/

env.bak/
venv.bak/
.idea/
.vscode/
.DS_Store
*.log
Thumbs.db

data/
runs/detect/train/weights
src/yolo26n.pt
src/runs/
src/model/yolo26n.pt
src/model/yolov8s.pt